<div class="navigation">
    <ul>
        <li>
            <a href="/">
                <span class="icon"><ion-icon name="construct-outline"></ion-icon></span>
                <span class="title">Trang Chủ</span>
            </a>
        </li>
        
        <li>
            <a href="#">
                <span class="icon"><ion-icon name="calculator-outline"></ion-icon></span>
                <span class="title">Tính Toán Vít Tải Ống</span>
            </a>
        </li>

        <li>
            <a href="/trough/tab1">
                <span class="icon"><ion-icon name="git-branch-outline"></ion-icon></span>
                <span class="title">Tính Toán Vít Tải Máng</span>
            </a>
        </li>

        <li>
            <a href="#">
                <span class="icon"><ion-icon name="sync-outline"></ion-icon></span>
                <span class="title">Tính Toán Vít Tải Không Trục</span>
            </a>
        </li>

        <li>
            <a href="#">
                <span class="icon"><ion-icon name="trending-up-outline"></ion-icon></span>
                <span class="title">Tính Toán Vít Tải Đứng</span>
            </a>
        </li>

        <li>
            <a href="#">
                <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
                <span class="title">Cài Đặt</span>
            </a>
        </li>
    </ul>
</div>
